<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/styles.css" charset="utf-8">
  </head>
  <body>
    <div class="pageWrapper">
      <header>
        <h1>Bars</h1>
        <p>Some bars from tv shows</p>
      </header>
      <main>
        <div class="bar">
          <img src="../images/bars/moes.jpg" alt="Moe's Bar" />
        </div>
        <div class="bar">
          <img src="../images/bars/cheers.jpg" alt="Cheers" />
        </div>
        <div class="bar">
          <img src="../images/bars/paddys.jpg" alt="Paddy's Pub" />
        </div>
        <div class="bar">
          <img src="../images/bars/gibsons.jpg" alt="Gibson's Steakhouse" />
        </div>
      </main>
      <footer>
        <div class="social">
          <img src="../images/social/linkedin.png" alt="" />
        </div>
        <div class="social">
          <img src="../images/social/adventure-tomcat.png" alt="" />
        </div>
        <div class="social">
          <img src="../images/social/facebook.png" alt="" />
        </div>
      </footer>
    </div>
  </body>
</html>
