<html>
  <body>
      <h2>Here are all the users:</h2>
      <form class="" action="index.html" method="post">
        Your Name: <input type="text" name="name">
        Dojo Location: <input type="text" name="name">
      </form>
  </body>
</html>
