<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Results</title>
  </head>
  <body>
    <h2>Submitted Information</h2>
    <ul>
      <li>Name: <strong> <%= user_data.name %></strong></li>
      <li>Location: <strong><%= user_data.dojo_location %></strong></li>
      <li>Fav Language: <strong><%= user_data.favorite_language %></strong></li>
      <li>Comment: <strong><%= user_data.comment %></strong></li>
    </ul>
  </body>
</html>
